<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

{{ partial "head.html" . }}

<body>

	<div id="all">

		<header>
			{{ partial "top.html" . }}
			{{ partial "nav.html" . }}
			{{ partial "hero.html" . }}
		</header>

		{{ if .Site.Params.carousel.enable }}
		{{ partial "carousel.html" . }}
		{{ end }}

		{{ if .Site.Params.about.enable }}
		{{ partial "about.html" . }}
		{{ end }}

		{{ if .Site.Params.features.enable }}
		{{ partial "features.html" . }}
		{{ end }}

		{{ if .Site.Params.dates.enable }}
		{{ partial "dates.html" . }}
		{{ end }}

    {{ if .Site.Params.sponsoring.enable }}
    {{ partial "sponsoring.html" . }}
    {{ end }}

		{{ if .Site.Params.testimonials.enable }}
		{{ partial "testimonials.html" . }}
		{{ end }}

		{{ if .Site.Params.twitter.enable }}
		{{ partial "twitter.html" . }}
		{{ end}}

		{{ if .Site.Params.organising.enable }}
		{{ partial "organising.html" . }}
		{{ end }}

		{{ if .Site.Params.programming.enable }}
		{{ partial "programming.html" . }}
		{{ end }}

		{{ if .Site.Params.see_more.enable }}
		{{ partial "see_more.html" . }}
		{{ end }}

		{{ if .Site.Params.recent_posts.enable }}
		{{ partial "recent_posts.html" . }}
		{{ end }}

		{{ if .Site.Params.sponsors.enable }}
		{{ partial "sponsors.html" . }}
		{{ end }}

	</div>
	<!-- /#all -->

	{{ partial "footer.html" . }}

	{{ partial "scripts.html" . }}

</body>

</html>
