{{ "<!-- Dates Section -->" | safeHTML }}

<section id="dates" class={{ if .Site.Params.dates.bg }} "bar background-gray no-mb"
    {{ else if .Site.Params.dates.pattern }} "bar background-pentagon no-mb"
	{{ else if .Site.Params.dates.photo1 }} "bar background-image-fixed-1"
	{{ else if .Site.Params.dates.photo2 }} "bar background-image-fixed-2"
    {{ else }} "bar background-white no-mb" {{ end }}>
	<div class="container">
        <div class="row">
            <div class="col-md-12">
                {{ if isset .Site.Params.dates "title" }}
                <div class="heading text-center">
                    <h2>{{ .Site.Params.dates.title }}</h2>
                </div>
                {{ end }}
                {{ if isset .Site.Params.dates "subtitle" }}
                <div class="heading text-center">
                    <h3>{{ .Site.Params.dates.subtitle }}</h3>
                </div>
                {{ end }}
            </div>
        </div>
        <table class="table table-hover">
            <thead>
                <th>Date</th>
                <th>Event</th>
            </thead>
            <tbody>
                <tr>
                    <td>February 16, 2020</td>
                    <td>Submission deadline tutorial proposals (see <a href="news/2020/01/13/tutorial-submission/">here</a>)</td>
               </tr>
               <tr>
                    <td>March 1, 2020</td>
                    <td>Start of registration (<a href="https://www.conftool.org/user2020muc/index.php?page=login">register here</a>)</td>
               </tr>
               <tr>
                   <td>April 15, 2020</td>
                   <td>Abstract submission deadline (see <a href="news/2020/01/27/abstract-submission/">here</a>)</td>
               </tr>
               <tr>
                   <td>March 30, 2020</td>
                   <td>Tutorial notice of acceptance</td>
               </tr>
                <tr>
                   <td>April 30, 2020</td>
                   <td>Abstract notice of acceptance</td>
               </tr>
               <tr>
                   <td>Mai 30, 2020</td>
                   <td>Early Bird registration rate deadline</td>
               </tr>
            </tbody>
        </table>
    </div>
</section>
